*.log

log_file.log.1

.jsdtscope

.jshintrc

.project

*.prefs

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

.tern-project

log_file.log.2

log_file.log.3


